<h1>Hospitals</h1>

<div class="row my-3">
    <div class="col-md-12">
        <form class="" (submit)="addHospital()">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="hospitalName" placeholder="Hospital Name" maxlength="60" minlength="3" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="hospitalPhone" placeholder="10-Digit Phone" minlength="10" maxlength="10" required>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Save</button>
            </div>
        </form>
    </div>
</div>

<div class="row data-table my-3">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Hospital Name</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Departments</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hospital of hospitalList; let i = index;">
                    <td>{{hospital.hospitalname}}</td>
                    <td>{{hospital.contactnumber}}</td>
                    <td><a class="btn btn-sm btn-link" routerLink="/department">View Department</a></td>
                    <td>
                        <a class="btn btn-sm btn-secondary mx-1" (click)="editHospital(hospital);">Edit</a>
                        <a class="btn btn-sm btn-danger mx-1" (click)="deleteHospital(hospital);">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>