<h1>{{pageTitle}}</h1>
<a routerLink="/hospital" *ngIf="showBackLink">Back to Hospital List</a>
<div class="row data-table my-3">
    <div class="col-md-12">
        <button class="btn btn-success btn-sm" [appSort]="departmentList" data-order="asc" data-name="departmentname">Sort by Dept Name</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Dept Name</th>
                    <th scope="col">HOD</th>
                    <th scope="col">Contact No</th>
                    <th scope="col">Hospital</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="departmentList.length > 0">
                    <tr *ngFor="let department of departmentList; let i = index;">
                        <td>{{department.departmentname}}</td>
                        <td>{{department.head}}</td>
                        <td>{{department.contactnumber}}</td>
                        <td>{{department.hospitalname}}</td>
                        <td>
                            <a class="btn btn-sm btn-secondary mx-1" (click)="editDept(department);">Edit</a>
                            <a class="btn btn-sm btn-danger mx-1" (click)="deleteDept(department);">Delete</a>
                        </td>
                    </tr>
                </ng-container>

                <ng-container *ngIf="departmentList.length == 0">
                    <tr>
                        <td colspan="5">There are no records to display.</td>
                    </tr>
                </ng-container>

            </tbody>
        </table>
    </div>
</div>